@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
.desktop {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}
img {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
}
.arrow {
  min-height: 0;
}
#hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("images/desktop/image-header.jpg");
}
.header {
  padding-top: 30px;
}
.nav {
  display: flex;
  color: hsl(0, 0%, 100%);
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 40%;
}
.nav-links a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.nav-links li {
  padding-top: 7px;
}
button {
  border: none;
  outline: none;
  width: 30%;
  font-weight: 700;
  box-sizing: border-box;
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  padding: 13px;
  color: black;
}
#heading-1 {
  max-width: 120px;
}
.heading-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  font-size: 50px;
  margin-top: 100px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.arrow {
  position: absolute;
  margin-top: 100px;
  left: 46%;
}
#learn-more {
  text-decoration: none;
  font-size: 16px;
  font-family: "Fraunces", snans-serif;
  color: black;
  border-radius: 3px;
  display: inline-block;
}
.one {
  border-bottom: 5px solid hsla(51, 100%, 49%, 0.373);
}
.two {
  border-bottom: 5px solid hsla(7, 99%, 70%, 0.384);
}
.container {
  margin: 0 auto;
  display: flex;
}
.content-cont {
  box-sizing: border-box;
  flex-basis: 50%;
  margin-top: 12px;
  padding: 120px;
}
.img-cont {
  flex-basis: 50%;
}
.content {
  color: hsl(210, 4%, 67%);
}
.row {
  flex-basis: 50%;
  line-height: 30px;
  padding: 320px 150px 60px;
  background-size: cover;
}
.designer {
  background-image: url("images/desktop/image-graphic-design.jpg");
}
.photo {
  background-image: url("images/desktop/image-photography.jpg");
}
.G {
  color: hsl(167, 40%, 24%);
}
.P {
  color: hsl(198, 62%, 26%);
}
.testimonials {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.test {
  border-radius: 100%;
  max-width: 4rem;
  min-height: 4rem;
}
.heading-test {
  color: hsl(210, 4%, 67%);
  font-size: 1.875rem;
  margin-bottom: 80px;
  text-align: center;
}
.monial {
  color: hsl(213, 9%, 39%);
  font-size: 1rem;
  line-height: 30px;
  margin: 50px 0;
  padding: 0 18px 0 18px;
}
.padding {
  padding: 165px;
}
.gallery {
  display: flex;
}
.gallery img {
  max-width: 25%;
  box-sizing: border-box;
}
.body {
  background-color: hsl(168, 46%, 64%);
  padding: 80px;
  text-align: center;
}
.footer{
  font-family: "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
}
.body ul{
  margin: 80px;
}
.body ul li {
  list-style: none;
  color: hsl(167, 36%, 37%);
  display: inline-block;
  width: 10%;
}
#social-links {
  display: flex;
  margin: 0 auto;
  width: 20%;
  justify-content: space-between;
}